#*
	author: Carlos Tejo Alonso (Fundación CTIC - www.fundacionctic.org)
*#

	<!-- Feedback -->
	<div>
	<img id="feedback" src="${uri_base}images/feedback.png" width="30" height="100" alt="feedback" /> 
	<div id="feedback-dialog" title="Give us some feedback">
		<p><img src="${uri_base}images/bug.png" alt="bug"></img> <a href="https://bitbucket.org/fundacionctic/dcat-viewer/issues/">Report a bug </a></p>
		<p><img src="${uri_base}images/heart.png" alt="request"></img> <a href="https://bitbucket.org/fundacionctic/dcat-viewer/issues/">Request a feature</a></p>
		<p><img src="${uri_base}images/contact.png" alt="contact"></img> <a href="https://bitbucket.org/fundacionctic/dcat-viewer">Contact us</a></p>
	</div>
	</div>